body {
  font-family: sans-serif;
  text-align: center;
  background-color: black;
  color: white;
}
p{
  text-align: left;
}
.about-section{
  align-items: center;
  justify-content: center;
  height: auto;

}
#about-me{
  text-align: left;
}
#profile_pic {
  width: 20rem;
  height: 18rem;
  border-radius: 100%;
}
.under-construction {
  animation: blink 1s infinite;
}

@keyframes blink{
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
